$prefix: ".inc_";
$postfix: "_block";

$pdpModalBlock: $prefix+"pdp"+$postfix;
$pdpModalTitleBlock: $prefix+"pdp_title"+$postfix;
$pdpModalTitleTextBlock: $prefix+"pdp_title_text"+$postfix;
$pdpModalTitleText: $prefix+"pdp_title_text";
$pdpModalTitleImgBlock: $prefix+"pdp_title_img"+$postfix;
$pdpModalTitleImg: $prefix+"pdp_title_img";

$pdpModalBundleBlock: $prefix+"pdp_bundle"+$postfix;
$pdpModalMainProductBlock: $prefix+"pdp_product-main"+$postfix;
$pdpModalAddIconBlock: $prefix+"pdp_icon-add"+$postfix;
$pdpModalBundleProductBlock: $prefix+"pdp_product-bundle"+$postfix;
$pdpModalBundleCartBlock: $prefix+"pdp_bundle-cart"+$postfix;

$pdpAddIconImgBlock: $prefix+"pdp_icon-add_img"+$postfix;
$pdpAddIconImg: $prefix+"pdp_icon-add_img";
$pdpBundleProductLeftBtnBlock: $prefix+"pdp_product-bundle_left-btn"+$postfix;
$pdpBundleProductLeftBtnImgBlock: $prefix+"pdp_product-bundle_left-btn_img"+$postfix;
$pdpBundleProductLeftBtnImg: $prefix+"pdp_product-bundle_left-btn_img";
$pdpBundleProductRightBtnBlock: $prefix+"pdp_product-bundle_right-btn"+$postfix;
$pdpBundleProductRightBtnImgBlock: $prefix+"pdp_product-bundle_right-btn_img"+$postfix;
$pdpBundleProductRightBtnImg: $prefix+"pdp_product-bundle_right-btn_img";

$pdpBundleProductListBlock: $prefix+"pdp_product-bundle_list"+$postfix;

$pdpBundleCartSummaryBlock: $prefix+"pdp_bundle-cart_summary"+$postfix;
$pdpBundleCartSummaryTitleBlock: $prefix+"pdp_bundle-cart_summary_title"+$postfix;
$pdpBundleCartSummaryTitleTextBlock: $prefix+"pdp_bundle-cart_summary_title_text"+$postfix;
$pdpBundleCartSummaryTitleText: $prefix+"pdp_bundle-cart_summary_title_text";
$pdpBundleCartSummaryPriceBlock: $prefix+"pdp_bundle-cart_summary_price"+$postfix;
$pdpBundleCartSummaryPriceRegularBlock: $prefix+"pdp_bundle-cart_summary_price_regular"+$postfix;
$pdpBundleCartSummaryPriceRegularTextBlock: $prefix+"pdp_bundle-cart_summary_price_regular_text"+$postfix;
$pdpBundleCartSummaryPriceRegularText: $prefix+"pdp_bundle-cart_summary_price_regular_text";
$pdpBundleCartSummaryPriceActiveBlock: $prefix+"pdp_bundle-cart_summary_price_active"+$postfix;
$pdpBundleCartSummaryPriceActiveTextBlock: $prefix+"pdp_bundle-cart_summary_price_active_text"+$postfix;
$pdpBundleCartSummaryPriceActiveText: $prefix+"pdp_bundle-cart_summary_price_active_text";
$pdpBundleCartSummaryAddBlock: $prefix+"pdp_bundle-cart_summary_add"+$postfix;
$pdpBundleCartSummaryAddBtnBlock: $prefix+"pdp_bundle-cart_summary_add_btn"+$postfix;
$pdpBundleCartSummaryAddBtnTextBlock: $prefix+"pdp_bundle-cart_summary_add_btn_text"+$postfix;
$pdpBundleCartSummaryAddBtnText: $prefix+"pdp_bundle-cart_summary_add_btn_text";
$pdpBundleCartSummaryAddBtnImgBlock: $prefix+"pdp_bundle-cart_summary_add_btn_img"+$postfix;
$pdpBundleCartSummaryAddBtnImg: $prefix+"pdp_bundle-cart_summary_add_btn_img";

$productBlock: $prefix+"product"+$postfix;
$productHeaderBlock: $prefix+"product_header"+$postfix;
$productHeaderTitleBlock: $prefix+"product_header_title"+$postfix;
$productHeaderTitleTextBlock: $prefix+"product_header_title_text"+$postfix;
$productHeaderTitleText: $prefix+"product_header_title_text";
$productHeaderImgBlock: $prefix+"product_header_img"+$postfix;
$productHeaderImg: $prefix+"product_header_img";
$productImgBlock: $prefix+"product_img"+$postfix;
$productImg: $prefix+"product_img";
$productDescBlock: $prefix+"product_desc"+$postfix;
$productTitleBlock: $prefix+"product_desc_title"+$postfix;
$productTitleTextBlock: $prefix+"product_desc_title_text"+$postfix;
$productTitleText: $prefix+"product_desc_title_text";
$productPriceBlock: $prefix+"product_desc_price"+$postfix;
$productPriceActiveBlock: $prefix+"product_desc_price_active"+$postfix;
$productPriceActiveTextBlock: $prefix+"product_desc_price_active_text"+$postfix;
$productPriceActiveText: $prefix+"product_desc_price_active_text";
$productPriceActiveTextMsg: $prefix+"product_desc_price_active_text_msg";
$productPriceRegularBlock: $prefix+"product_desc_price_regular"+$postfix;
$productPriceRegularTextBlock: $prefix+"product_desc_price_regular_text"+$postfix;
$productPriceRegularText: $prefix+"product_desc_price_regular_text";
$productQtyBlock: $prefix+"product_desc_qty"+$postfix;
$productQtyDownBlock: $prefix+"product_desc_qty_down"+$postfix;
$productQtyDownBtnBlock: $prefix+"product_desc_qty_down_btn"+$postfix;
$productQtyDownBtn: $prefix+"product_desc_qty_down_btn";
$productQtyInputBlock: $prefix+"product_desc_qty_input"+$postfix;
$productQtyInputTextBlock: $prefix+"product_desc_qty_input_text"+$postfix;
$productQtyInputText: $prefix+"product_desc_qty_input_text";
$productQtyUpBlock: $prefix+"product_desc_qty_up"+$postfix;
$productQtyUpBtnBlock: $prefix+"product_desc_qty_up_btn"+$postfix;
$productQtyUpBtn: $prefix+"product_desc_qty_up_btn";
$productAddBlock: $prefix+"product_desc_add"+$postfix;
$productAddTextBlock: $prefix+"product_desc_add_text"+$postfix;
$productAddText: $prefix+"product_desc_add_text";
$productAddImgBlock: $prefix+"product_desc_add_img"+$postfix;
$productAddImg: $prefix+"product_desc_add_img";

$sidebarModalBlock: $prefix+"sidebar_modal"+$postfix;
$sidebarHeaderBlock: $prefix+"sidebar_header"+$postfix;
$sidebarCartAddedBlock: $prefix+"sidebar_cart_added"+$postfix;
$sidebarRecommendedBlock: $prefix+"sidebar_recommended"+$postfix;
$sidebarCheckoutBlock: $prefix+"sidebar_checkout"+$postfix;
$sidebarHeaderContinueBlock: $prefix+"header_continue"+$postfix;
$sidebarHeaderContinueImgBlock: $prefix+"header_continue_img"+$postfix;
$sidebarHeaderContinueImg: $prefix+"header_continue_img";
$sidebarHeaderContinueTextBlock: $prefix+"header_continue_text"+$postfix;
$sidebarHeaderContinueText: $prefix+"header_continue_text";
$sidebarHeaderTitleBlock: $prefix+"header_title"+$postfix;
$sidebarHeaderTitleTextBlock: $prefix+"header_title_text"+$postfix;
$sidebarHeaderTitleText: $prefix+"header_title_text";
$sidebarHeaderItemBlock: $prefix+"header_item"+$postfix;
$sidebarHeaderItemCountBlock: $prefix+"header_item_count"+$postfix;
$sidebarHeaderItemCountTitleBlock: $prefix+"header_item_count_title"+$postfix;
$sidebarHeaderItemCountTitle: $prefix+"header_item_count_title";
$sidebarHeaderItemCountTextBlock: $prefix+"header_item_count_text"+$postfix;
$sidebarHeaderItemCountText: $prefix+"header_item_count_text";
$sidebarCartAddedProductsBlock: $prefix+"cart_added_products"+$postfix;
$sidebarCartAddedProductsLeftBlock: $prefix+"cart_added_products_left"+$postfix;
$sidebarCartAddedProductsLeftBtnBlock: $prefix+"cart_added_products_left_btn"+$postfix;
$sidebarCartAddedProductsLeftBtnImgBlock: $prefix+"cart_added_products_left_btn_img"+$postfix;
$sidebarCartAddedProductsLeftBtnImg: $prefix+"cart_added_products_left_btn_img";
$sidebarCartAddedProductsRightBlock: $prefix+"cart_added_products_right"+$postfix;
$sidebarCartAddedProductsRightBtnBlock: $prefix+"cart_added_products_right_btn"+$postfix;
$sidebarCartAddedProductsRightBtnImgBlock: $prefix+"cart_added_products_right_btn_img"+$postfix;
$sidebarCartAddedProductsRightBtnImg: $prefix+"cart_added_products_right_btn_img";
$sidebarCartAddedProductsListBlock: $prefix+"cart_added_products_list"+$postfix;
$sidebarCartAddedProductBlock: $prefix+"cart_added_product"+$postfix;
$sidebarCartAddedProductImgBlock: $prefix+"cart_added_product_img"+$postfix;
$sidebarCartAddedProductImg: $prefix+"cart_added_product_img";
$sidebarCartAddedProductDescBlock: $prefix+"cart_added_product_desc"+$postfix;
$sidebarCartAddedProductDescTitleBlock: $prefix+"cart_added_product_desc_title"+$postfix;
$sidebarCartAddedProductDescTitle: $prefix+"cart_added_product_desc_title";
$sidebarCartAddedProductDescPriceBlock: $prefix+"cart_added_product_desc_price"+$postfix;
$sidebarCartAddedProductDescPriceRegularBlock: $prefix+"cart_added_product_desc_price_regular"+$postfix;
$sidebarCartAddedProductDescPriceRegularTextBlock: $prefix+"cart_added_product_desc_price_regular_text"+$postfix;
$sidebarCartAddedProductDescPriceRegularText: $prefix+"cart_added_product_desc_price_regular_text";
$sidebarCartAddedProductDescPriceActiveBlock: $prefix+"cart_added_product_desc_price_active"+$postfix;
$sidebarCartAddedProductDescPriceActiveTextBlock: $prefix+"cart_added_product_desc_price_active_text"+$postfix;
$sidebarCartAddedProductDescPriceActiveText: $prefix+"cart_added_product_desc_price_active_text";
$sidebarCartAddedProductDescPriceActiveTextMsg: $prefix+"cart_added_product_desc_price_active_text_msg";
$sidebarRecommendedTitleBlock: $prefix+"recommended_title"+$postfix;
$sidebarRecommendedTitleTextBlock: $prefix+"recommended_title_text"+$postfix;
$sidebarRecommendedTitleText: $prefix+"recommended_title_text";
$sidebarRecommendedTitleImgBlock: $prefix+"recommended_title_img"+$postfix;
$sidebarRecommendedTitleImg: $prefix+"recommended_title_img";
$sidebarRecommendAllItemsBlock: $prefix+"recommend_items"+$postfix;
$sidebarRecommendAllItemsTitleBlock: $prefix+"recommend_all_items_title"+$postfix;
$sidebarRecommendAllItemsTitleTextBlock: $prefix+"recommend_all_items_title_text"+$postfix;
$sidebarRecommendAllItemsTitleText: $prefix+"recommend_all_items_title_text";
$sidebarRecommendAllItemsTitleImgBlock: $prefix+"recommend_all_items_title_img"+$postfix;
$sidebarRecommendAllItemsTitleImg: $prefix+"recommend_all_items_title_img";
$sidebarRecommendAllItemsListingBlock: $prefix+"recommend_all_items_listing"+$postfix;
$sidebarRecommendItemsListingLeftBlock: $prefix+"recommend_items_listing_left"+$postfix;
$sidebarRecommendItemsListingLeftBtnBlock: $prefix+"recommend_items_listing_left_btn"+$postfix;
$sidebarRecommendItemsListingLeftBtnImgBlock: $prefix+"recommend_items_listing_left_btn_img"+$postfix;
$sidebarRecommendItemsListingLeftBtnImg: $prefix+"recommend_items_listing_left_btn_img";
$sidebarRecommendItemsListingRightBlock: $prefix+"recommend_items_listing_right"+$postfix;
$sidebarRecommendItemsListingRightBtnBlock: $prefix+"recommend_items_listing_right_btn"+$postfix;
$sidebarRecommendItemsListingRightBtnImgBlock: $prefix+"recommend_items_listing_right_btn_img"+$postfix;
$sidebarRecommendItemsListingRightBtnImg: $prefix+"recommend_items_listing_right_btn_img";
$sidebarRecommendItemsListingProductsListBlock: $prefix+"recommend_items_listing_products_list"+$postfix;
$sidebarCheckoutContinueBlock: $prefix+"checkout_continue"+$postfix;
$sidebarCheckoutContinueBtnBlock: $prefix+"checkout_continue_btn"+$postfix;
$sidebarCheckoutContinueBtnTextBlock: $prefix+"checkout_continue_btn_text"+$postfix;
$sidebarCheckoutContinueBtnText: $prefix+"checkout_continue_btn_text";
$sidebarCheckoutContinueBtnImgBlock: $prefix+"checkout_continue_btn_img"+$postfix;
$sidebarCheckoutContinueBtnImg: $prefix+"checkout_continue_btn_img";
$sidebarCheckoutBasketBlock: $prefix+"checkout_basket"+$postfix;
$sidebarCheckoutBasketBtnBlock: $prefix+"checkout_basket_btn"+$postfix;
$sidebarCheckoutBasketBtnTextBlock: $prefix+"checkout_basket_btn_text"+$postfix;
$sidebarCheckoutBasketBtnText: $prefix+"checkout_basket_btn_text";
$sidebarCheckoutBasketBtnImgBlock: $prefix+"checkout_basket_btn_img"+$postfix;
$sidebarCheckoutBasketBtnImg: $prefix+"checkout_basket_btn_img";

$afModalBlock: $prefix+"af"+$postfix;
$afModalTitleBlock: $prefix+"af_title"+$postfix;
$afModalTitleTextBlock: $prefix+"af_title_text"+$postfix;
$afModalTitleText: $prefix+"af_title_text";
$afModalBundlesBlock: $prefix+"af_bundles"+$postfix;
$afLeftBlock: $prefix+"af_left"+$postfix;
$afLeftBtnBlock: $prefix+"af_left_btn"+$postfix;
$afLeftBtnImgBlock: $prefix+"af_left_btn_img"+$postfix;
$afLeftBtnImg: $prefix+"af_left_btn_img"+$postfix;
$afProductListBlock: $prefix+"af_product-list"+$postfix;
$afRightBlock: $prefix+"af_right"+$postfix;
$afRightBtnBlock: $prefix+"af_right_btn"+$postfix;
$afRightBtnImgBlock: $prefix+"af_right_btn_img"+$postfix;
$afRightBtnImg: $prefix+"af_right_btn_img";